.Dropdown {
  font-family: "Spartan", sans-serif;
  font-weight: light;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.22px;
  width: 20%;
  margin-left: 1rem;
  position: relative;
  cursor: pointer;
  z-index: 10;
  &__screen {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--dark);
    position: relative;
  }
  &__selection {
    margin-left: 0.5rem;
  }
  &__icon-wrapper {
    padding: 0rem 0.2rem;
  }
  &__arrow-icon {
    &--rotated {
      transform: rotate(-180deg);
    }
  }
  &__list {
    padding: 1rem;
    list-style-type: none;
    position: absolute;
    width: 100%;
    background-color: var(--light);
    &--closed {
      display: none;
    }
    &--open {
      display: block;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__checkmark-icon {
    margin-right: 0.4rem;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  &__value {
    position: relative;
  }
}
