@use "../../../../styles/abstracts";

.Booking {
  background-image: url("../../../../images/homepage/ready-bg-desktop.jpg");
  background-size: cover;
  padding: 8rem 8rem;
  display: flex;
  color: var(--light);
  @include abstracts.respondMax(abstracts.$breakpoint-large) {
    padding: 8rem 5rem;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
    padding: 5rem 5rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-phone) {
    padding: 6rem 3rem;
  }
  &__heading {
    flex: 0 0 70%;
    margin-right: 2rem;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin-bottom: var(--margin-regular);
      margin-right: 0rem;
    }
  }
  &__button {
    align-self: center;
  }
}
