.button {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
  background-color: transparent;
  font-family: "Spartan", sans-serif;
  padding: 2rem 3rem;
  cursor: pointer;
  &--light {
    border: 2px solid var(--light);
    color: var(--light);
    &:hover {
      border: 2px solid var(--light);
      background-color: var(--light);
      color: var(--primary-color-2);
    }
  }

  &--dark {
    border: 2px solid var(--dark);
    color: var(button-dark);
    &:hover {
      border: 2px solid var(--dark);
      background-color: var(--dark);
      color: var(--light);
    }
  }

  &--inactive {
    border: 2px solid var(--inactive);
    color: var(--inactive);
  }
}
