.button {
  height: 6.4rem;
  width: 17rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 2px;

  &--light {
    border: 2px solid var(--button-light);
    color: var(button--light);
    &:hover {
      border: 2px solid var(--button-light);
      background-color: var(--button-light);
      color: var(--primary-color-2);
    }
  }

  &--dark {
    border: 2px solid var(--button-dark);
    color: var(button-dark);
    &:hover {
      border: 2px solid var(--button-dark);
      background-color: var(--button-dark);
      color: var(--button-light);
    }
  }

  &--inactive {
    border: 2px solid var(--button-inactive);
    color: var(--button-inactive);
  }
}
