@use "../../../../styles/abstracts";

.Events {
  padding: 10rem 10rem;
  position: relative;
  @include abstracts.respondMax(abstracts.$breakpoint-large) {
    padding: 10rem 5rem;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-phone) {
    padding: 7rem 3rem;
  }
  &__rectangle-right {
    position: absolute;
    width: 50rem;
    z-index: -1;
    left: 0rem;
    top: 0rem;
  }
  .Hamburger {
    @include abstracts.respondMax(abstracts.$breakpoint-phone) {
      display: none;
    }
  }
}
