.DescriptionCard {
  display: flex;
  flex-direction: column;
  &__shape {
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-regular);
  }
  &__circle {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid var(--primary-color-1);
  }
  &__line {
    width: 5.6rem;
    height: 1px;
    background-color: var(--primary-color-1);
    margin-left: 0.5rem;
  }
  &__heading {
    margin-bottom: var(--margin-regular);
  }
}
