.DescriptionCard {
  display: grid;
  grid-template-rows: 7rem min-content min-content;
  grid-row-gap: 2rem;
  &__shape {
    display: flex;
    align-items: center;
  }
  &__circle {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid var(--primary-color-1);
  }
  &__line {
    width: 5.6rem;
    height: 1px;
    background-color: var(--primary-color-1);
    margin-left: 0.5rem;
  }
}
