@use "../../../styles/abstracts";

.About {
  padding: 0rem 10rem;
  position: relative;
  @include abstracts.respondMax(abstracts.$breakpoint-large) {
    padding: 5rem 7rem;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
    padding: 5rem 5rem;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-phone) {
    padding: 5rem 3rem;
  }
  &__flex-container {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      @include abstracts.respondMax(abstracts.$breakpoint-large) {
        margin-bottom: 8rem;
      }
      @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
        margin-bottom: 0rem;
      }
    }
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      flex-direction: column;
    }
  }
  &__enjoyable-place {
    transform: translatey(-4rem);
    @include abstracts.respondMax(abstracts.$breakpoint-large) {
      transform: translatey(0rem);
    }
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      transform: translatey(-15rem);
    }
  }
  &__rectangle-top-right {
    position: absolute;
    top: 10%;
    left: 0;
    width: 70%;
  }
  &__image-container {
    flex: 0 0 50%;
    box-shadow: var(--primary-box-shadow);
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      width: 100%;
      height: 50rem;
    }
  }
  &__image {
    width: 100%;
    display: block;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      width: 100%;
      height: 50rem;
      object-fit: cover;

      object-position: 70% 50%;
    }
  }
  &__description-card-enjoyable {
    margin-left: 10rem;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin-top: var(--margin-large);
      margin-left: 0rem;
      text-align: center;
    }
  }
  .DescriptionCard__shape {
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin: 0rem auto var(--margin-regular) auto;
    }
  }
  &__locally-sourced {
    transform: translatey(6rem);
    @include abstracts.respondMax(abstracts.$breakpoint-large) {
      transform: translatey(0rem);
    }
  }
  &__description-card-local {
    margin-right: 10rem;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin-top: var(--margin-large);
      margin-right: 0rem;
      text-align: center;
      order: 1;
    }
  }
  &__rectangle-top-left {
    position: absolute;
    top: 100%;
    right: 0;
    width: 70%;
    transform: translatey(-100%);
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      top: 100%;
    }
  }
  &__hamburger {
    position: absolute;
    right: 3%;
    z-index: 2;
    top: 70%;
    @include abstracts.respondMax(abstracts.$breakpoint-phone) {
      display: none;
    }
  }
}
