@use "../../../styles/abstracts";

.Booking {
  background-image: url("../../../images/homepage/ready-bg-desktop.jpg");
  background-size: cover;
  padding: 8rem 8rem;
  display: flex;
  justify-content: space-between;
  color: var(--light);
  @media (min-resolution: 192dpi) {
    background-image: url("../../../images/homepage/ready-bg-desktop@2x.jpg");
  }
  @include abstracts.respondMax(abstracts.$breakpoint-large) {
    background-position: 15% 50%;
    padding: 8rem 7rem;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
    background-image: url("../../../images/homepage/ready-bg-tablet.jpg");
    padding: 5rem 5rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    @media (min-resolution: 192dpi) {
      background-image: url("../../../images/homepage/ready-bg-tablet@2x.jpg");
    }
  }
  @include abstracts.respondMax(abstracts.$breakpoint-phone) {
    background-image: url("../../../images/homepage/ready-bg-mobile.jpg");
    padding: 6rem 3rem;
    @media (min-resolution: 192dpi) {
      background-image: url("../../../images/homepage/ready-bg-mobile@2x.jpg");
    }
  }
  &__heading {
    flex: 0 0 70%;
    margin-right: 2rem;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin-bottom: var(--margin-regular);
      margin-right: 0rem;
    }
  }
  &__button {
    align-self: center;
  }
}
