@use "../../../../styles/abstracts";
.Header {
  color: var(--light);
  padding: 8rem 10rem 15rem 10rem;
  background-image: linear-gradient(
      to right,
      var(--dark) 0%,
      var(--dark) 30%,
      transparent 30%
    ),
    url("../../../../images/homepage/hero-bg-desktop@2x.jpg");
  background-size: cover;
  background-position: 65% 0%;
  @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
    height: 110rem;
    padding: 50vw 10rem 20rem 10rem;
    background-image: linear-gradient(
        to bottom,
        transparent 0vw,
        transparent,
        45vw,
        var(--dark) 45vw
      ),
      url("../../../../images/homepage/hero-bg-tablet@2x.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-phone) {
    padding: 50vw 3rem 10rem 3rem;
    height: 100rem;
  }
  &__svg-container {
    margin-bottom: 15rem;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin-bottom: 8rem;
    }
  }

  &__content {
    width: 50%;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      text-align: center;
      width: 100%;
    }
  }
  &__heading {
    margin-bottom: var(--margin-regular);
  }
  &__text {
    margin-bottom: var(--margin-regular);
  }
  &__button {
  }
}
