@use "../../../../styles/abstracts";

.Header {
  background-image: url("../../../../images/homepage/hero-bg-desktop@2x.jpg");
  background-size: cover;
  height: 82rem;
  grid-column: full-start / full-end;
  color: var(--light);
  display: grid;
  grid-template-columns:
    [full-start] 16.5rem [center-start] repeat(
      12,
      [col-start] minmax(min-content, 6.5rem) [col-end]
    )
    [center-end] 16.5rem [full-end];
  grid-column-gap: 3rem;
  @include abstracts.respondMax(768px) {
    background-image: url("../../../../images/homepage/hero-bg-tablet@2x.jpg");
    align-content: center;
    background-size: cover;
  }

  &__content {
    display: grid;
    grid-column: center-start / col-end 6;
    grid-template-rows: 20rem auto auto 1fr;
    grid-row-gap: 3.5rem;
    @include abstracts.respondMax(1000px) {
      grid-column: full-start/col-end 6;
      padding-left: 9rem;
    }
  }
  &__logo {
    margin-top: 6.5rem;
  }
  &__button {
    justify-self: start;
    align-self: start;
  }
}
