@use "../../styles/abstracts";

.Footer {
  color: white;
  background-color: var(--dark);
  padding: 8rem 8rem;
  display: flex;
  justify-content: space-between;
  @include abstracts.respondMax(abstracts.$breakpoint-large) {
    padding: 8rem 5rem;
  }

  @include abstracts.respondMax(500px) {
    flex-direction: column;
    padding: 5rem 3rem;
    align-items: center;
    text-align: center;
  }
  &__info {
    display: flex;
    flex: 0 0 70%;
    justify-content: space-between;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      flex-direction: column;
      margin-left: var(--margin-regular);
    }
    @include abstracts.respondMax(abstracts.$breakpoint-phone) {
      margin-left: 0rem;
    }
  }
  &__logo-container {
    flex: 0 0 30%;
    @include abstracts.respondMax(500px) {
      margin-bottom: var(--margin-large);
    }
  }
  &__logo {
  }
  &__address {
    margin-right: 5rem;
    @include abstracts.respondMax(abstracts.$breakpoint-phone) {
      margin-right: 0rem;
    }
  }
  &__hours {
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin-left: 0rem;
      margin-top: var(--margin-large);
    }
  }
}
