@use "../../styles/abstracts";

.Footer {
  color: white;
  background-color: var(--dark);
  padding: 8rem 8rem;
  display: flex;
  justify-content: space-between;
  @include abstracts.respondMax(abstracts.$breakpoint-large) {
    padding: 8rem 5rem;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
    justify-content: flex-start;
  }
  &__info {
    display: flex;
    margin-left: 8rem;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      flex-direction: column;
      margin-left: 8rem;
    }
  }
  &__logo {
  }
  &__address {
  }
  &__hours {
    margin-left: 8rem;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin-left: 0rem;
      margin-top: 6rem;
    }
  }
}
