@use "../../../../styles/abstracts";

.Menu {
  padding: 20rem 8rem 10rem 8rem;
  display: flex;
  background-color: var(--dark);
  @include abstracts.respondMax(abstracts.$breakpoint-large) {
    padding: 10rem 8rem;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
    flex-direction: column;
    align-content: center;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-phone) {
    padding: 10rem 3rem;
  }
  &__description-card {
    margin-right: 10rem;
    flex: 0 0 40%;
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin-right: 0rem;
      text-align: center;
    }
    .DescriptionCard__shape {
      @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
        margin: auto;
        margin-bottom: 5rem;
      }
    }
  }
  .MenuCard {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
    &__figure {
      @include abstracts.respondMax(abstracts.$breakpoint-large) {
        flex: 0 0 40%;
      }
      @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
        flex: 0 0 30%;
      }
    }
  }
  &__items {
    @include abstracts.respondMax(abstracts.$breakpoint-tablet) {
      margin-top: 8rem;
    }
  }
  &__salmon {
  }
  &__filet {
  }
  &__mousse {
    border-bottom: none;
  }
}
