@use "../abstracts";

:root {
  //colors
  --primary-color-1: #9e7f66;
  --primary-color-2: #111111;

  --secondary-color-1: #17192b;
  --secondary-color-2: #242b37;
  --secondary-color-3: #5c6779;

  --light: #ffffff;
  --dark: #111111;
  --inactive: #979797;

  --error: #b54949;

  //vertical margins
  --margin-regular: 3rem;
  --margin-large: 7rem;
  --margin-extra-large: 15rem;
  --margin-small: 2rem;
  --margin-extra-small: 1rem;

  //box-shadow
  --primary-box-shadow: 0px 2rem 6rem -2rem black;
}
html {
  font-size: 62.5%;
  @include abstracts.respondMax(900px) {
    font-size: 56.25%;
  }
  @include abstracts.respondMax(abstracts.$breakpoint-phone) {
  }
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
